.subbanner {
    display: block;
    position: relative;
}

.subbanner img {
    height: 356px;
    object-fit: cover;
}

.title {
    width: 100%;
    position: absolute;
    top: 42%;
    color: blue;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}

.contain {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title span {
    position: absolute;
}

.tieude {
    text-transform: uppercase;
}

.containanother {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service {
    background-color: #ffffff;
    margin: 50px auto 50px;
    max-width: 1110px;
}

.tieudedv {
    text-transform: uppercase;
    font-size: bold;
    text-align: center;
    font-size: 25px;
    color: blue;
    margin-bottom: 50px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.paragraph {
    text-align: justify;
    margin-bottom: 1rem;
}
.paragraph2 {
    text-align: center;
    margin-bottom: 1rem;
}
.anhmh {
    height: 525px;
    width: 1000px;
    margin-bottom: 10px;
}
.pr {
    line-height: 2;
}
.gc {
    text-align: center;
    margin-top: -10px;
}


