.subbanner2 {
    display: block;
    position: relative;
}
.subbanner2 img {
    height: 356px;
    object-fit: cover;
}
img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.title2 {
    width: 100%;
    position: absolute;
    top: 42%;
    color: blue;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.contain2 {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title2 span {
    position: absolute;
    z-index: 2;
}
.tieude2 {
    text-transform: uppercase;
}
.containerr {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    min-height: 350px;
    margin-top: 50px;
}
.roww {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}
.h22 {
    font-family: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: inherit;
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
}
.colsmxs12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.colsm3xs12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
    text-align: right;
}
.sct {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 5px;
}
.batbuoc {
    margin-left: 5px;
    color: red;
}
.colsm6xs12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
}
.sochungthu {
    margin: 0;
    font: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: 0.5s;
}
.capt {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
}
.captparent {
    margin: 0 0 10px;
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    float: left;
}
.captimg {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    FONT-FAMILY: sans-serif;
    text-align: center;
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    width: 160px;
    height: 34px;
    aspect-ratio: auto 160 / 34;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline;
}
.iconfont {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    text-align: center;
    box-sizing: border-box;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 7px;
    cursor: pointer;
}
.xacthuc {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
    text-align: left;
}
.xacthuccpt {
    margin: 0;
    font: inherit;
    font-family: inherit;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: 0.5s;
    width: 160px;
}
.check {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.nothing {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
    text-align: right;
}
.check_button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.check_button:hover {
    background-color: #1967b2;
    color: orange;
    transition: 0.25s;
}